<h2>クッキーから情報を取得</h2>
<div class="alert alert-success" role="alert">
  User ID from sessionString: <%= account.userId %>
</div>
<div class="alert alert-success" role="alert">
  User Name from sessionString: <%= account.userName %>
</div>
<div class="alert alert-success" role="alert">
  User ID: <%= userId %>
</div>
<div class="alert alert-success" role="alert">
  User Name: <%= userName %>
</div>

