<div class="alert alert-success" role="alert">
  User ID: <%= userId %>
</div>
<div class="alert alert-success" role="alert">
  User Name: <%= userName %>
</div>
<div class="alert alert-success" role="alert">
  idToken: <%= idToken %>
</div>
<div class="alert alert-success" role="alert">
  Count: <%= count %>
</div>
<a class="btn btn-primary" role="button" href="/">Top画面</a>